body
{
  font-family: "Courier New", Courier, monospace;
  background-color: #edeff2;
  text-align: center;
}

.buttons
{
  margin: 15px;
  height: 35px;
  width: 85px;
  background-color: #d8f4c1;
  font: 12pt Courier;
}

.buttons:hover
{
  background-color: #f7dfb7;
}
